@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Secular+One&display=swap');

@import url("/assets/navigator.css");
@import url("/assets/premium-popup.css");

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    margin: 0px;

    font-family: Arial;
}

.content {
    height: 100vh;
    width: 100%;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.headline {
    margin-top: 110px;
    margin-bottom: 25px;

    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 800;
    color: #000000;
    text-shadow: 0px 0px 22px #00000055;
}

.members {
    width: 90%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.team-member {
    width: calc(100% - 28px);
    height: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    padding: 14px;

    background-color: #ff0000;
    box-shadow: 0px 3px 12px #00000044;
    border-radius: 8px;

    animation: 33s rainbow-bg linear infinite;

    font-family: "Montserrat";
    font-weight: 700;
    color: #ffffff;
}

.team-member img {
    border-radius: 50%;
    height: 6em;
    width: 6em;

    animation: 1s profilepic-spin linear infinite;
}

.team-member .name {
    font-size: 28px;

    margin-bottom: 0.4em;
}

@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}

@keyframes profilepic-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}